@font-face {
  font-family: "RedHat";
  src: url("../fonts/RedHatDisplay-Regular.otf") format("opentype");
}
/* new */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&&display=swap');

:root {
  --color-font-dark: #212529;
  --color-font-light: #868e96;
  --bg-light: #f1f3f5;
  --color-link: #0366d6;
  --border-radius: 0.3rem;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-font-dark);
  padding: 0 1rem;
}

/* end new */


h1 {
    font-family: "SimSun", serif; /* "RedHat";*/
    font-style: bold;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 4rem;
    letter-spacing: 1px;


}

h2 {
    font-family: "RedHat";
    font-style: normal;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 3rem;
    letter-spacing: 1px;


}
.link1-titleA {
    font-family: "Symbol", serif; 
    font-style: bold;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 2rem;
    letter-spacing: 1px;


}

.link1-titleB {
    font-family: "Segoe Script", serif; 
    font-style: bold;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 2rem;
    letter-spacing: 1px;


}

.link1  {
    font-family: "Segoe Script", serif; 
    font-style: normal;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 1rem;
    letter-spacing: 1px;


}

.link2 a {
    font-family: "SimSun", serif; 
    font-style: bold;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 2rem;
    letter-spacing: 1px;


}

.link2  {
    font-family: "SimSun", serif; 
    font-style: normal;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 1rem;
    letter-spacing: 1px;


}

.link3 a {
    font-family: "MV Boli", serif; 
    font-style: bold;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 2rem;
    letter-spacing: 1px;


}

.link3  {
    font-family: "MV Boli", serif; 
    font-style: normal;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 1rem;
    letter-spacing: 1px;


}
